:root {
  --secondary-background-color: #e1ede6;
  --button-border-color: #598d66;
  --unactive-button-color: #d4e8d9;

  --primary-font-color: #2c2d35;
  --addition-font-color: #86928b;
  --secondary-font-color: #598d66;
  --new-collection-font-color: #ffffff;
  --hover-button-font-color: #f4f6f5;
  --active-button-background-color: #376b44;

  --new-collecton-button-color: #eedb6d;

  --main-font: "Raleway";

  --containers-margin: 15px;
}

/* html {
  font-size: 14px;
} */

body {
  margin: 0;
}

.lock {
  overflow: hidden;
}

.mainHeader {
  width: 100%;
  /* height: 130px; */
}

.header__logo {
  display: flex;
  width: 100%;
  min-height: 68px;
  justify-content: center;
  align-items: center;
}

.header__options-menu {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  min-height: 68px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--secondary-background-color);
}

.header__burger-menu {
  margin: 0 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.header__menu {
  padding: 0 0;
  position: fixed;
  left: -100%;
  top: 130px;
  background-color: var(--secondary-background-color);
  width: 100%;
  height: 100%;

  transition: 0.5s;
}

.header__menu-active {
  left: 0%;
}

.header__list {
  margin: 0 0;
  padding: 0 15px;

  margin-top: 15px;
}

.header__list li {
  list-style: none;
  margin-top: 50px;
}

.header__link {
  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--primary-font-color);

  text-decoration: none;
}

.main__description-container {
  margin: 0 var(--containers-margin);
  margin-top: 60px;
  display: flex;
  gap: 30px;
}

.main__description-picture {
  display: none;
}

.main__description-header {
  margin: 0 0;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 30px;
  text-align: left;
  line-height: 100%;
  letter-spacing: 0%;

  color: var(--primary-font-color);
}

.main__description-span {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--secondary-font-color);
}

.main__description-paragraph {
  margin: 0 0;
  margin-top: 20px;

  text-align: left;

  font-family: var(--main-font);
  color: var(--addition-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

.get-button {
  transition: 0.5s;
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;

  background-color: transparent;
  border: 1px solid var(--button-border-color);
  color: #598d66;
}

.get-button:hover {
  background-color: var(--button-border-color);
  color: #f4f6f5;
}

.get-button:active {
  background-color: var(--active-button-background-color);
  color: white;
}

.get-button:focus:not(:active) {
  background-color: var(--secondary-background-color);
  color: var(--button-border-color);
}

.main__description-button {
  margin: 0 0;
  margin-top: 40px;
  font-size: 18px;

  width: 154px;
  height: 50px;
}

.reproductions {
  margin: 0 var(--containers-margin);

  margin-top: 50px;
}

.reproducitons-header {
  color: var(--primary-font-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0%;

  margin: 0 0;
}

.reproductions__country-options {
  margin: 0 0;

  gap: 20px;
  display: flex;
  overflow-x: scroll;
}

.reproductions__country-button {
  margin: 0 0;
  margin-top: 20px;

  padding: 0 20px;
  height: 41px;

  font-family: var(--main-font);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 18px;

  background-color: var(--unactive-button-color);
  border: none;
  border-radius: 20px;
  color: var(--primary-font-color);

  transition: color 0.5s, background 0.5s;
}

.reproductions__country-button:hover {
  color: var(--hover-button-font-color);
  background-color: var(--button-border-color);
}

.reproductions__country-button:active {
  color: var(--hover-button-font-color);
  background-color: var(--active-button-background-color);
}

.reproductions__country-button:focus:not(:active) {
  color: var(--primary-font-color);
  background-color: var(--unactive-button-color);
  border: var(--button-border-color) solid 2px;
}

.reproductions__pictures {
  margin: 0 0;
  margin-top: 30px;

  display: grid;
  gap: 20px;
}

.reproductions__picture-block {
  margin: 0 0;

  display: flex;
  justify-content: center;

  box-sizing: border-box;

  padding: 20px 20px;

  width: 100%;
  height: 100%;

  background-color: var(--secondary-background-color);
}

.reproductions__picture-block-content {
  margin: 0 0;
  width: auto;
  display: flex;
  flex-direction: column;
}

.reproductions__author-name {
  margin: 0 0;
  margin-top: 15px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--addition-font-color);
}

.reproductions__picture-name {
  margin: 0 0;
  margin-top: 10px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--primary-font-color);
}

.reproductions__picture-description {
  margin: 0 0;
  margin-top: 10px;
  margin-bottom: 30px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--primary-font-color);
}

.reproductions__picture-price {
  margin: 0 0;
  margin-top: auto;

  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--secondary-font-color);
}

.reproductions__buy-button {
  margin: 0 0;
  padding: 0 0;
  margin-top: 10px;

  align-items: center;
  vertical-align: middle;

  width: 100%;
  min-height: 50px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--secondary-font-color);
}

.new-collection {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  margin: 0 0;
  margin-top: 60px;
  padding: 0 var(--containers-margin);
  padding-top: 50px;
  padding-bottom: 50px;

  min-width: 320px;
  height: 552px;

  background-image: url("resources\\House\\french-background-mobile.jpg");
  background-size: cover;
}

.new-collection__header-container {
  display: flex;
  gap: 10px;
}

.new-collection__header {
  margin: 0 0;

  font-family: Raleway;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--new-collection-font-color);
}

.new-collection__paragraph {
  margin: 0 0;
  margin-top: 20px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--new-collection-font-color);
}

.new-collection__paragraph > br {
  margin-bottom: 16px;
}

.new-collection__button {
  margin: 0 0;
  margin-top: auto;

  width: 100%;
  height: 50px;

  background-color: var(--new-collecton-button-color);
  border: none;

  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--primary-font-color);

  transition: 0.5s;
}

.new-collection__button:hover {
  background-color: #faeb97;
}

.new-collection__button:active {
  background-color: #d9b949;
}

.new-collection__button:focus:not(:active) {
  background-color: #faeb97;
  border: #a38314 solid 1px;
}

.our-comand {
  margin: 0 var(--containers-margin);
  padding-top: 60px;
}

.our-comand__hand-picture {
  margin: 0 0;

  width: 290px;
  height: 286px;
}

.our-comand__hand-picture > img {
  margin: 0 0;

  max-width: 100%;
}

.our-comand__header {
  margin: 0 0;
  margin-top: 20px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: var(--primary-font-color);
}

.our-comand__paragraph {
  margin: 0 0;
  margin-top: 20px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--primary-font-color);
}

.our-comand__avatars {
  margin: 0 0;
  margin-top: 20px;

  width: 100%;

  display: flex;
  justify-content: space-around;
}

.our-comand__avatar > img {
  margin: 0 0;

  width: 80px;
  height: 80px;
}

.footer {
  margin: 0 0;
  margin-top: 94px;
  padding: var(--containers-margin) var(--containers-margin);

  background-color: var(--secondary-background-color);
}

.footer__logo_and_phone {
  display: none;
}

.footer__logo_and_phone > section {
  width: auto;
}

.footer__links {
  margin: 0 0;
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-around;
  gap: 20px;
}

.footer__links-block {
  margin: 0 0;
  width: 100%;

  /* display: grid;
  grid-template-rows: repeat(auto-fill, auto); */
  display: flex;
  flex-direction: column;

  gap: 6px;
}

.hiden-mobile-element {
  display: block;
}

.footer__link-name {
  margin: 0 0;

  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--primary-font-color);
}

.footer__link {
  margin: 0 0;

  text-decoration: none;

  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--addition-font-color);
}

.footer__line {
  margin: 0 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer__platforms {
  margin: 0 0;
  margin-top: 20px;
}

.available768 {
  display: none;
}

.footer__platforms-icons {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.footer__rights {
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--addition-font-color);
}

@media (min-width: 576px) {
  :root {
    --containers-margin: 33px;
  }

  [class*="main__description-container"] {
    margin-top: 50px;
  }
  [class*="header__burger-menu"] {
    display: none;
  }
  [class*="header__menu"] {
    position: static;
    width: auto;
    height: auto;
  }

  [class*="header__options-menu"] {
    padding: 0 var(--containers-margin);
  }

  [class*="header__list"] {
    padding: 0 0;
    display: flex;
    margin-top: 0;
    gap: 60px;
  }

  [class*="header__list"] li {
    margin-top: 0;
  }
  [class*="header__logo"] {
    background-color: var(--secondary-background-color);
  }

  [class*="main__description-header"] {
    font-family: Raleway;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  [class*="main__description-picture"] {
    display: block;
  }
  [class*="main__description-picture"] * {
    height: auto;
  }
  [class*="main__description-paragraph"] {
    margin-top: 10px;

    padding-right: 30px;

    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  [class*="main__description-button"] {
    min-width: 200px;
    width: 178px;
    margin-top: 11px;
  }

  [class*="reproductions__pictures"] {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  [class*="reproductions__picture-block-content"] {
    /* width: 200px; */
    width: auto;
    height: auto;
  }

  [class*="new_collection"] {
    background-image: "resources\\House\\french-background-tablet.jpg";
  }

  [class*="new-collection__button"] {
    max-width: 190px;
    max-height: 50px;
  }

  [class*="footer__logo_and_phone"] {
    height: 50px;
    display: flex;
    justify-content: space-between;
  }

  [class*="footer__links"] {
    grid-template-columns: repeat(3, auto);
  }

  [class*="hiden-mobile-element"] {
    display: none;
  }
}

@media (min-width: 768px) {
  :root {
    --containers-margin: 39px;
  }

  [class*="mainHeader"] {
    display: flex;
    width: auto;
    padding: 0 var(--containers-margin);
    background-color: var(--secondary-background-color);
  }

  [class*="header__burger-menu"] {
    display: none;
  }

  [class*="header__logo"] {
    width: auto;
    padding: 0 0;
  }

  [class*="header__options-menu"] {
    width: 100%;
    padding: 0 0;
    justify-content: end;
    gap: 60px;
  }

  [class*="header__menu"] {
    padding: 0 0;
  }

  [class*="header__list"] {
    padding: 0 0;
  }

  [class*="header__link"] {
    padding: 0 0;
  }

  [class*="main__description-container"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  [class*="main__description-picture"] * {
    display: block;
    width: 100%;
    height: auto;
  }

  [class*="new-collection__button"] {
    max-width: 210px;
    max-height: 50px;
  }

  [class*="our-comand__header"] {
    margin-top: 40px;
  }

  [class*="footer__line"] {
    display: none;
  }

  [class*="footer__links"] {
    justify-content: space-between;

    flex: auto;
  }

  [class*="footer__platforms"] {
    margin-left: auto;
  }

  [class*="footer__links-and-platforms"] {
    display: flex;
    gap: 75px;
  }

  /* [class*="footer__links-block"] {
    width: 25px;
  } */
}
