:root {
  --secondary-background-color: #e1ede6;
  --button-border-color: #598d66;
  --unactive-button-color: #d4e8d9;

  --primary-font-color: #2c2d35;
  --addition-font-color: #86928b;
  --secondary-font-color: #598d66;
  --new-collection-font-color: #ffffff;
  --hover-button-font-color: #f4f6f5;
  --active-button-background-color: #376b44;

  --new-collecton-button-color: #eedb6d;

  --main-font: "Raleway";

  --containers-margin: 15px;
}

/* html {
  font-size: 14px;
} */

body {
  margin: 0;
}

.header {
  width: 100%;
  /* height: 130px; */
}

.header__logo {
  display: flex;
  width: 100%;
  min-height: 68px;
  justify-content: center;
  align-items: center;
}

.header__options-menu {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 68px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  background-color: var(--secondary-background-color);
}

.main__description {
  margin: 0 var(--containers-margin);
}

.main__description-header {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;

  color: var(--primary-font-color);

  margin-top: 50px;
}

.main__description-span {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--secondary-font-color);
}

.main__description-paragraph {
  font-family: var(--main-font);
  color: var(--addition-font-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

.get-button {
  transition: 0.5s;
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;

  background-color: transparent;
  border: 1px solid var(--button-border-color);
  color: #598d66;
}

.get-button:hover {
  background-color: var(--button-border-color);
  color: #f4f6f5;
}

.get-button:active {
  background-color: var(--active-button-background-color);
  color: white;
}

.get-button:focus:not(:active) {
  background-color: var(--secondary-background-color);
  color: var(--button-border-color);
}

.main__description-button {
  font-size: 18px;

  width: 154px;
  height: 50px;

  margin-top: 20px;
}

.reproductions {
  margin: 0 var(--containers-margin);

  margin-top: 50px;
}

.reproducitons-header {
  color: var(--primary-font-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0%;

  margin: 0 0;
}

.reproductions__country-options {
  margin: 0 0;

  gap: 20px;
  display: flex;
  overflow-x: scroll;
}

.reproductions__country-button {
  margin: 0 0;
  margin-top: 20px;

  padding: 0 20px;
  height: 41px;

  font-family: var(--main-font);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  font-size: 18px;

  background-color: var(--unactive-button-color);
  border: none;
  border-radius: 20px;
  color: var(--primary-font-color);

  transition: color 0.5s, background 0.5s;
}

.reproductions__country-button:hover {
  color: var(--hover-button-font-color);
  background-color: var(--button-border-color);
}

.reproductions__country-button:active {
  color: var(--hover-button-font-color);
  background-color: var(--active-button-background-color);
}

.reproductions__country-button:focus:not(:active) {
  color: var(--primary-font-color);
  background-color: var(--unactive-button-color);
  border: var(--button-border-color) solid 2px;
}

.reproductions__pictures {
  margin: 0 0;

  /* display: grid; */
}

.reproductions__picture-block {
  margin: 0 0;
  margin-top: 20px;

  box-sizing: border-box;
  align-content: center;

  padding: 20px 20px;

  width: 290px;
  height: 514px;

  background-color: var(--secondary-background-color);
}

.reproductions__picture > img {
  max-width: 100%;
  /* min-width: 250px;
  min-height: 250px; */
}

.reproductions__author-name {
  margin: 0 0;
  margin-top: 15px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--addition-font-color);
}

.reproductions__picture-name {
  margin: 0 0;
  margin-top: 15px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--primary-font-color);
}

.reproductions__picture-description {
  margin: 0 0;
  margin-top: 15px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--primary-font-color);
}

.reproductions__picture-price {
  margin: 0 0;
  margin-top: 30px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--secondary-font-color);
}

.reproductions__buy-button {
  margin: 0 0;
  margin-top: 15px;

  align-items: center;
  vertical-align: middle;

  width: 250px;
  height: 50px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--secondary-font-color);
}

.new-collection {
  box-sizing: border-box;
  margin: 0 0;
  margin-top: 60px;
  padding: 0 var(--containers-margin);
  padding-top: 50px;

  min-width: 320px;
  height: 552px;

  background-image: url("resources\\french_background.jpg");
}

.new-collection__header-container {
  display: flex;
  gap: 10px;
}

.new-collection__header {
  margin: 0 0;

  font-family: Raleway;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--new-collection-font-color);
}

.new-collection__paragraph {
  margin: 0 0;
  margin-top: 20px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--new-collection-font-color);
}

.new-collection__paragraph > br {
  margin-bottom: 16px;
}

.new-collection__button {
  margin: 0 0;
  margin-top: 30px;

  width: 100%;
  height: 50px;

  background-color: var(--new-collecton-button-color);
  border: none;

  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--primary-font-color);

  transition: 0.5s;
}

.new-collection__button:hover {
  background-color: #faeb97;
}

.new-collection__button:active {
  background-color: #d9b949;
}

.new-collection__button:focus:not(:active) {
  background-color: #faeb97;
  border: #a38314 solid 1px;
}

.our-comand {
  margin: 0 var(--containers-margin);
  padding-top: 60px;
}

.our-comand__hand-picture {
  margin: 0 0;

  width: 290px;
  height: 286px;
}

.our-comand__hand-picture > img {
  margin: 0 0;

  max-width: 100%;
}

.our-comand__header {
  margin: 0 0;
  margin-top: 20px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: var(--primary-font-color);
}

.our-comand__paragraph {
  margin: 0 0;
  margin-top: 20px;

  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--primary-font-color);
}

.our-comand__avatars {
  margin: 0 0;
  margin-top: 20px;

  width: 100%;

  display: flex;
  justify-content: space-around;
}

.our-comand__avatar > img {
  margin: 0 0;

  width: 80px;
  height: 80px;
}

.footer {
  margin: 0 0;
  margin-top: 94px;
  padding: var(--containers-margin) var(--containers-margin);

  background-color: var(--secondary-background-color);
}

.footer__links {
  margin: 0 0;
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-around;
  gap: 20px;
}

.footer__links-block {
  margin: 0 0;
  width: 100%;

  display: grid;
  grid-template-rows: repeat(auto-fill, auto);

  gap: 6px;
}

.footer__link-name {
  margin: 0 0;

  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--primary-font-color);
}

.footer__link {
  margin: 0 0;

  text-decoration: none;

  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--addition-font-color);
}

.footer__line {
  margin: 0 0;
  margin-top: 20 px;
  display: flex;
  justify-content: center;
}

.footer__platforms {
  margin: 0 0;
  margin-top: 20px;
}

.footer__platforms-icons {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.footer__rights {
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--addition-font-color);
}
